<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ web }}</p>
</div>
<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum
        est eu dictum mattis. Nulla dictum fermentum ante, eu bibendum eros. Ut
        porttitor, lectus eget consectetur posuere, eros tortor scelerisque
        velit, at cursus nisl dolor non tortor. Sed tempus quam magna, in tempus
        dolor molestie eu. Sed nec nisi id tellus consequat volutpat et et
        purus. Donec at lorem commodo, interdum nibh sed, maximus odio. Mauris
        fringilla elementum nulla, id congue nibh ultrices eu. Ut diam nisi,
        luctus vel metus vel, feugiat lacinia nisi. Nam quis ligula eget lacus
        tincidunt feugiat venenatis maximus sem. Mauris metus sem, tempus at
        interdum ut, vehicula in ex. Duis iaculis tellus et mi imperdiet
        lacinia. Integer eget mi mauris. Morbi nec aliquet odio. Proin
        elementum, odio ac varius condimentum, nunc dolor congue sapien, eget
        semper mauris dui ac arcu. Ut lobortis, quam non interdum interdum,
        turpis est facilisis arcu, sit amet malesuada ante elit id tortor.
    </p>
</article>
