@font-face {
    font-family: "Yanone";
    src: url("./fonts/YanoneKaffeesatz-Light.ttf");
}
@font-face {
    font-family: "Finger";
    src: url("./fonts/FingerPaint-Regular.ttf");
}
@font-face {
    font-family: "Titillium";
    src: url("./fonts/TitilliumWeb-Light.ttf");
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Yanone", Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url("../css/img/pattern.png");
    background-attachment: fixed;
}
.clearfix {
    float: none;
    clear: both;
}
/* Header */
header {
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(53, 103, 164, 0.8);
    position: fixed;
    text-transform: uppercase;
}
header ul {
    display: block;
    width: 40%;
    height: inherit;
    margin: 0px auto;
    margin-top: -5px;
}
header ul li {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 88px;
}
header a {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: initial;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}
header a:hover,
.active-link {
    background: rgba(0, 0, 0, 0.8);
}
/* Logo */
/* No hace "hover" */
#logo {
    font-family: "Finger";
    font-size: 30px;
}
#logo a {
    transition: color 500ms, transform 500ms;
}
header #logo a:hover {
    background: transparent;
    color: black;
    /* Ancho & Largo */
    transform: scale(2, 2);
}
/* Content*/
#content {
    min-height: 600px;
    height: auto;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0px 0px 40px black;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 120px;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
}
/* Footer */
footer {
    width: 75%;
    margin: 0 auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}
/* About me*/
#title {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}
#title h1 {
    font-family: "Finger";
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
#title h2 {
    font-size: 25px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 5px;
}
article.about {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 23px;
}
.about h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.about p {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}
/* Nuevo proyecto */
.container {
    padding: 50px;
    padding-top: 10px;
}
.container .image{
    float: left;
    width: 47%;
}
.container .image img{
    width: 100%;
}
.container .data{
    float: left;
    width: 48%;
    margin-left: 25px;
}
.container h2 {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
form {
    width: 80%;
}
form label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}
form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea {
    padding: 5px;
    width: 40%;
}
form textarea {
    width: 42%;
}
form button,
form input[type="submit"] {
    display: block;
    width: 100px;
    height: 30px;
    font-size: 15px;
    /* padding: 10px; */
    margin-top: 15px;
    color: white;
    background: rgba(53, 103, 164, 1);
    border: 1px solid rgba(13, 67, 133, 1);
    cursor: pointer;
}
form input[type="file"] {
    cursor: pointer;
}
form button:hover,
form input[type="submit"]:hover {
    background: rgba(53, 103, 164, 0.8);
    border: 1px solid rgba(13, 67, 133, 0.8);
}
form input[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}
.form_error {
    font-style: italic;
    background: red;
    color: black;
    padding: 5px;
    margin-left: 5px;
}
.message {
    padding: 5px;
    width: 50%;
    border: 1px solid #eee;
}
.success,
.success a {
    background: green;
    color: white;
}
.failed {
    background: red;
    color: white;
}
/* Pagina de Proyectos */
.project {
    list-style: none;
    display: block;
    float: left;
    width: 28%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.project .image {
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.project img {
    width: 100%;
}
.project a{
    text-decoration: none;
    color: black;
}
